@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
#dots{
  position: relative;
  left: 15px;
}
#code{
  position: relative;
  width: 40%;
  left: 50%;
}
.left{
  position: relative;
  left:20%
}
html{
  scroll-behavior: smooth;
}
body {
  color: white;
  /* background: linear-gradient(141deg, white 0%, grey 51%, rgb(46, 45, 45) 75%); */
  background: #358597;
  
 
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/60-lines.png"); */


}
a{
  color: white;
}
a:hover{
  color:#1d4e58
}
#home{
  /* background-color: #D2BAB6; */
  color: white;
  width: 100%;



  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}
.p{
  /* border: solid #DCDCDC; */
  border-radius: 50px;
  background: #2e7585;
  text-align: center;
  width: 145%;
  margin: 2.5px;

}
.ul{
  display: grid;
  grid-template-columns: auto auto auto ;
  position: relative;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: normal; */
  font-size: 16px;
  grid-column-gap: 55px;
  grid-row-gap: 7px;



}





.section {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 800px;
  /* width: 1400px; */
  width: 100vw;

  /* z-index: -1; */
  overflow: hidden;
}

#me{
  position: relative;
  /* width: 65%; */
  max-width: 100vh;
  height: auto;
  left: 15vw;
  top: 15.4vh;
  /* filter: blur(.4px); */

}
@import url('https://fonts.googleapis.com/css?family=Bilbo');
.title,.intro{
  position: relative;
  /* z-index: 9; */
  left:-3%;
  top:-4em;
  /* max-width: 50%; */
  font-size: 5vw;
  /* font-family: 'Gruppo';font-size: 50px; */
  font-family: 'Bilbo';
  font-weight: 600;

}
#code{
  color: #2e7585;
}
.intro{
  position: relative;
  /* z-index: 9; */
  left:-40px;
  top:3em;
}
.about-content{
  position: relative;
  max-width: 50vh;
  left:65%;
  top: -15%;
  font-size: 1.5vw;

}

.skills{
  max-width: 90%;
  max-height: 20%;
  /* padding: 10px; */


}

#projects{
    /* overflow: scroll; */
  /* height: 150vh;
  width: 100%; */
  
  width: 100%;
  height: 2000px;
}
.presentation{
  position: relative;
  top: -5%;
}

.my-info:first-letter { 
  color: #ffffff;
  float: left;
  font-size: 70px;
  line-height: 60px;
  padding: 0 8px;
}



.pic,.thumbnail{
  background-color: transparent;
  border: transparent;
}

.col-lg-4:hover .middle {
  opacity: 1;
}
.text {
  background-color: black;
  color: white;
  font-size: 2vh;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn {
  border: 1px solid rgb(248, 243, 243);
  border-radius: 1vh;
  width: 8vh;
  height: auto;
  display: block;

  background: linear-gradient(to right, rgb(212, 209, 209) 50%, rgb(136, 134, 134) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.box1,.box2{
  position: relative;
  transition: left  1.2s ease-in;
  left: -0%;
}
.lis{
left: -150%;
}
.my-info{
  width: 90%;
  position: relative;
  top: -35px;
  left: 15%;
  z-index: 1;
  font-weight: 600;

  font-family: 'Gruppo';font-size: 20px;
  z-index: 999;

}
#medium{
  /* z-index: 999; */
  border: solid red;
}
#mee{
  position: relative;
  left:5% ;
  width: 900px;
  bottom: -4em;
}

.another{
  /* position: relative; */
  left: 110%;
  
}







.sidenav {
  height: 100%;
  width: 152px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2e7585;
  overflow: hidden;
  padding-top: 195px;
}

.sidenav a {
  position: relative;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:26px;
  color: white;
  display: block;
  left: 9%;
  font-weight: 200; 

}

.sidenav a:hover {
  color: #1d4e58;

}

.open,.closebtn{
  visibility: hidden;
  
} 
.icon{
  position: relative;
  width: 25px;
  /* height: auto; */
}
.home{
  top:-35px

}
/* #medium{
  position: relative;
  left: 50%;
  border: solid black;
} */
#git{
  cursor: pointer;

}
.contact{
  top:-35px
}
.woman{
  width: 28px;

  top:-38px
}
.computer{
  width: 25px;

  top:-35px
}
.me{
  position: relative;
  bottom:15vh;
  left: 13%;
  max-width: 10vw;
  height: auto;
  border-radius: 50%;

}
.box-nav{
  position: relative;
  bottom: 6%;
    left: 15%;

}
.secondary{
  border: 1px solid rgb(248, 243, 243);
  border-radius: 10px;
  border-bottom: solid rgba(255, 255, 255, 0.575);
  width: 105px;
  height: auto;
  display: block;
  padding: 0.2%;
  background:#3a93a7;
  background-position: right bottom;
  font-family: 'Gruppo';
  font-size: 26px;
  position: relative;
  left: 2%;
  top: -159px;
  text-align: center;
  
  /* z-index: -999; */
 cursor: pointer; ;
 outline:none;

}
.secondary:hover{
  /* background: white; */
  backGRound-color: white;
  color: black;
}

.secondary:focus{
  border: none;

}
.box{
  position: relative;
  left:18%;
  width: 200%;
  top: -15%;


}
.social{
  position: relative;
  top: 1vh;
  display: grid;
  grid-template-columns: auto ;
  width: 3.5vh;
  left: -55%;
  grid-row-gap: 40px;


  
  

}
.job{
  position: relative;
  border:  solid transparent;
  background-color: #358597;
  border-radius: 15px;
  max-width: 65%;
  height: auto;
  padding: 1.5%;
  color: rgb(255, 255, 255);
  top: -2em;
  left: -1%;
  font-size: 1.1vw;

}
.con{
  color: blue;
}

.d-block {
  position: relative;
  max-width:85%;
  max-height:85%;

}



.name-p{
  position: relative;
  left: 60%;
  bottom: -15vh;

}
.description{
  position: relative;
  left: 60%;
  width:40%;
  bottom: -12vh;
}
.tech{
  position: relative;
  left: 60%;
  /* width:40%; */
  bottom: -29vh; 
}


.tools{
position: relative;
left: 60%;
bottom:-40vh;

}


form{
  background-color: rgba(185, 184, 184, 0.877);
  background: #F9F9F9;
  background: #C8CACA;
  background: -webkit-linear-gradient(top left, #C8CACA, #535453);
  background: -moz-linear-gradient(top left, #C8CACA, #535453);
  background: linear-gradient(to bottom right, #C8CACA, #535453);
  background: rgba(255, 255, 255, 0.952);
  width: 55%;
  height: 550px;
  padding: 10%;
  border-radius: 10px;
  box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.356);
  color: #8c36dd;
  position: relative;
  left: 5%;
}
/* envelope */
.envWrapper{
position:absolute;
left: 1%;
}

.mail{
  width: 200px;
  height: 100px;
  background: #ff8789;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;

}

.mail:before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid  rgb(184, 139, 184);
  border-top: 0px solid transparent;
  border-bottom: 0px solid  rgb(184, 139, 184);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius: 10px;
  z-index: -1;
}

.mail:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid rgb(184, 139, 184);
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid  rgb(184, 139, 184);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px ;
  z-index: 4;
}
.cover:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid  rgb(184, 139, 184);
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform:rotateX(0deg);
  /* transition: all 1s 1s ease; */
}

.letter{
  position: absolute;
  z-index:3;
  top: 0;
  left:10px;
  background: #dedede;
  width: 280px;
  height: 180px;
  border-radius: 20px;
  transition: all 1s ease;

}
.letter h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color:#798992;
}
.mail:hover .cover::before{
  transform: rotateX(180deg);
  transition:all 1s ease;
}
.mail:hover .letter{
  top:-80px;
  transition:all 1s 1s ease
}
.title3{
  position: relative;
  left: 75%;
 top: -10%;
  color: #358597;
  margin-bottom: -15px;
}
.form-control{
  position: relative;
  left: 50%;
  
  width: 70%;
  height: 50px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.11);
}
.form-control:focus{
background-color: rgba(165, 163, 163, 0.185);
}
.form-control.message{
  height:150px ;
  resize: none;
}
.btn{
  color: white;
  background: #358597;
  width: 30%;
  height: 35px;
  position: relative;
  left: 70%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
.carousel-control-next,.carousel-control-prev{
  background-color: rgba(24, 23, 23, 0.233);
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.info-box{
  /* background-color: rgba(185, 184, 184, 0.877); */
  
  /* display: grid;
position: relative;  */
  /* border-radius: 10px; */
/* position: absolute; */
  box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.753);
  left: 109%;
  top: 20%;
border-radius: 20px;
position: absolute;
width: 150%;

}
#meee{
  position: relative;
  right:60% ;
  width: 18%;
  /* position: relative; */
  top: 3%;
  z-index: -999;
  border-radius: 60px;
}
#descrip{
  position: relative;
  left: 40%;
  top: -34%;
  width: 150%;
  font-family: 'Gruppo';
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline overline wavy #286977;
  margin: 10px;
  

}

#arms{
  transform: rotate(-10deg);
  transform-origin: center;
  transform-box: fill-box;
  animation: wave 1.5s  infinite linear;
}
#env{
  position: absolute;
  width: 49%;
  top: -30%;
  left: 1%;
}

@keyframes hi{
  /* 0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  } */

}
@keyframes wave{
  0%{
    transform:rotate(-20)
  }
  20%{
    transform:rotate(-10)
  }
  40%{
    transform:rotate(-5)
  }
  60%{
    transform:rotate(0)

  }
  80%{
    transform:rotate(-5)

  }
  100%{
    transform:rotate(-10)

  }
}
/* Thought bubbles */



.allstacks{
  position: relative;
  left: 30%;
  font-size: 15px;
  z-index: 999;
  font-family: 'Gruppo';font-size: 20px;
font-weight: 600;
top:30%;
}
.title2{
  position: relative;
  top: -45%;
  left: 50%;
  font-family: 'Gruppo';font-size: 5vh;
  font-weight: 500;
  text-decoration: underline;
  text-decoration: underline overline wavy #286977;



}
.allstacks ul li{
  margin-right: 40px;

}
.allstacks h1{
  position: relative;
  text-decoration: underline;
  font-weight: 600;
left: 35%;
top: -30px;

}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.card{
background-color: transparent;
/* box-shadow: 10px 12px 21px -6px rgba(0,0,0,0.75); */
border: transparent;
border-radius: 10px;
width: 44%;
top: 30%;
}
#git{
  display: none;
 }
.body{
  position: relative;
  left: 109%;
  width:80% ;
  font-family: 'Gruppo';
  font-size: 15px;
  top: -78%;
  background-color: rgba(180, 175, 175, 0.274);
  border-radius: 10px;
  margin-bottom: -240px;
  

}
.external-l{
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: auto auto  auto;
  margin-top: 5px;
}
.white{
  border: solid #2e7585;
  width: 80%;
  height: 80%;
}
.desk{
  position: relative;
  width: 75%;
  height: 71%;
  left: 25.1%;
  bottom: 1%;
}
.picturep{
  border-radius: 2%;
}
.column{
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: auto   ;
  width: 100%;
  top: -10em;
  row-gap: 5%;
  
}

.list{
  background-color: transparent;
  border: transparent;
  
  }
.tags{
  display: none;
  /* color: #358597; */
}
.phone-me{
display: none;}

.arrow{
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  position: relative;
  top: -160px;
left: 550px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
animation: down 2s linear infinite;
}
@keyframes down{
  0%{
    top: -130px;

  }
  100%{
    top: -90px;

  }
}
.e-l{
  width: 0;
}
.intro-se{
  position: relative;
  left: -50px;
  top: 200px;
}
/* phoneeeeeeeeeeeeeeeeeeeeeee */

@media only screen and (max-width:1034px) {
  .allstacks{
    top: 300px;
  }
  .intro-se,.intro{
    left: 10px;

  }
  .secondary{
    z-index: 1;
  }
}
@media only screen and (max-width:1024px) {


  #meee{
    left: -60%;
  }
  .tags{
    font-size: 20px;
    left: 10%;
  }
  .intro-se{
    font-size: 60px;
    /* top: 1px; */
    /* left: -100px; */

  }
  form{
    top: -10%;
  }
  .social{
    top:20%
  }
  .icon{
    display: none;
  }
  .intro{
    font-size: 60px;
  left: -10%;
  }
  .box{
    top: -50px;
  }
  #mee{
    width: 750px;
    left: 15%;
    top: 100px;
  }
  .secondary{
    top: 35px;
    left: 25px;
    width: 20%;
    font-size: 40px;
    z-index: 1;
  }
  .arrow{
    display: none;
  }
  .nav{
    position: relative;
      overflow: hidden;
    background-color: #245a66;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
  }
  .nav a{
    font-size: 35px;
  }
  .tags{
    position: relative;
    font-size: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    padding: 30px;
    left: 15%;
    font-family: 'Gruppo';
    font-weight: 600;
    column-gap: 50px;
  }
  .box-nav,.sidenav{
    display: none;
  }
  #meee{
    width: 30%;
    top: -5%;
  }
  .my-info{
    width: 200%;
    font-size:30px ;
    z-index: -999;
  }
  #descrip{
display: none  }
.p{
  font-size: 25px;
}
.allstacks{
  column-gap: 60px;
  top: 35%;
  left: 25%;
  z-index: -999;
}
.presentation{
  top: 1%;
}
.title2{
  top: -60px;
  left: 40%;
}
.body{
  font-size: 20px;
  top: -70%;
}
.picturep{
  position: relative;
  width: 140%;
  left: -160px;
}
.presentation{
  top: -4%;
}

.social{
  top: 33%;
  left: -60%;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
}
form{
  width:90%;
  
}
.form-group{
  position: relative;
  width: 90%;
  left: 5%;
}
}
@media only screen and (max-width:1061px) {
  .my-info{
    top: -70px;
     
  }
  #descrip{
visibility: hidden;
  }
  .title2{
    top: -50px;
  }
  .secondary{
   
    z-index: 1;
  }
}
@media only screen and (max-width:1024px) {

#home{
  height: 600px;
}
#about{
  height: 1100px;
}
#projects{
  height: 3100px;
}
#contact{
  height: 900px;
}
.allstacks{
  top: 390px;
}
.secondary{
   
  z-index: 1;
}

}
@media only screen and (max-width:1021px) {
  .arrow{
display: none;  }
.tags{
  font-size: 8px;

}
/* .box{
  top: -400px;
} */
#home{
  height: 600px;
}
#projects{
  height: 3000px;
}
.secondary{
   
  z-index: 1;
}
}
@media only screen and (max-width:1017px) {

  .box{
    top: -80px;
  }
}

/* iohone 6 */

/* iphone 5 */
@media only screen and (max-width:1008px) {
  
  .arrow{
    display: none; 
   }
    
    

.presentation{
  top: -17%;
}
.intro{
  top: 190px;
  left: -50px;
}
.intro-se{
  top: 190px;
  left: -50px;

}
#mee{
  top: 30px;
}
.secondary{
  top: -40px;
}
.tags{
  left: 15%;
}


.presentation{
  top: -5%;
}
.tags{
  font-size: 17px;
}
#contact{
  height: 600px;
}
.social{
  top: 260px;
}
.box{
  top: 10px;
}
#meee,.my-info{
  top: -200px;
}
.secondary{
   
  z-index: 1;
}
}



/* ipad pro */
 
@media only screen and (max-width:985px) {
#home{
  height: 600px;
}
#mee{
  width: 700px;
  left: 10%;
  top: 80px;
}
.secondary{
  top: 140px;
  font-size: 25px;
}
.intro{
  top: 190px;
  left: -10%;
}
.intro-se{
  top:190px;
  left: -10%;

}
#meee{
  left: -140px;
  top: -10%;
}
.my-info{
  top: -100px;
  width: 400px;
  left: -70%;
  font-size: 25px;
}
.allstacks{
  top: 30%;
  left: 35%;
}
.secondary{
   
  z-index: 1;
}

.p{
  font-size: 23px;

}
form{
  top:-20%
}
.presentation{
  top: -4%;
}
.box{
  top: -30px;
}
.secondary{
  top: -50px;
}
}
  @media only screen and (max-width: 976px) {
    .title{
      left: 25px;
  
    }
    .secondary{
      position: relative;
      left: 3%;
      top: -55px;
      z-index: 1;
    }
    .arrow{
      left: 43%;
      animation: down 2s linear infinite;
  
    }
    .box{
      left: 55px;
    }
    .tags{
      left: 180px;
    }
   
    #projects{
      height: 3000px;
    }
    #contact{
      height: 700px;
    }
    form{
      top: -30px;
    }.social{
      top: 290px;
    }
  }


  @keyframes down{
    0%{
      top: 42px;
  
    }
    100%{
      top: 70px;
  
    }
  }
  @media only screen and (max-width:824px) {
    .tags>a{
      font-size: 26px;

    }
    .tags{
      left: 95px;
    }
    
.secondary{
  z-index: 1;
}
  }
@media only screen and (max-width:768px) {
  .tags{
    font-size: 36px;
    left: 20px;
  }
  .secondary{
    z-index: 1;
  }
 
  .presentation{
    top: -5%;
  
  }
  .title2{
    position: relative;
    top: -115px;
  }
  .body{
    width: 100%;
    left: 95%;
  }
  .picturep{
    position: relative;
    top: -50px;
  }
  .intro{
    top: 190px;
    left: -30px;
  }
  .intro-se{
    left: -30px;
  }
  .secondary{
    top:10%
  
  }
  #meee{
    left: -30%;
    top: -15%;
  }
  .my-info{
    top: -160px;
  }
  .allstacks{
    top: 30%;
  }
  #projects{
    height: 2900px;
  }
  } 
 
  @media only screen and (max-width: 664px) {
    .my-info{
      left: -230px;
    }
    #about{
      height:900px;
    }
    #projects{
      height: 2800px;
    }
    form{
      top: 10px;
    }
    .social{
      top: 330px;
    }
    .secondary{
      z-index: 1;
    }
  }
@media only screen and (max-width: 600px) {
 
    .icon,.me{
      display: none;
    }
    
  
 .allstacks{
   left: 250px;
 }
  
 
  .job{
    display: none;
  }


.title3{
  left: 63%;
}

#projects{
  height: 3700px;

  
}
.presentation{
  top: -68em;

}
.link{
  display: none;
  color: #1d4e58;
}

  #git{
    display: none;
  }

  .secondary{
    position: relative;
    top: -50px;
    left: 60px;
    width: 20%;
    height: 50px;
    z-index:1;
  }
  .intro{
    position: relative;
    font-size: 45px;

 }
 #mee{
   width: 115%;
   left: -15%;
 }
 .intro-se{
  
   font-size: 45px;


 }

  
  .sidenav {
    /* overflow: hidden;
    background-color: #245a66;
    position: fixed;
    top: 0;
       width: 100%;
    height: 10px;
    z-index: 999; */
    display: none;
  }

  
  .tags{
    position: relative;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    padding: 20px;
    left: 10%;
    font-family: 'Gruppo';
    font-weight: 600;
  }
 #descrip{
   visibility: hidden;
 }
  


 /*  */
 .body{
  position: relative;
  left: 0%;
  width:100% ;
  font-family: 'Gruppo';
  font-size: 15px;
  top: 0%;
  background-color: rgba(180, 175, 175, 0.274);
  border-radius: 10px;
  margin-bottom: none;
  

}
.card{
  background-color: transparent;
  /* box-shadow: 10px 12px 21px -6px rgba(0,0,0,0.75); */
  border: transparent;
  border-radius: 10px;
  width: 44%;
  top: 10%;
  left: 4%;
  }
  .column{
    position: relative;
    left: 0%;
    display: grid;
    grid-template-columns: auto   ;
    width: 200%;
    top: 0em;
    row-gap: 20%;
    
  }
 .title2{
visibility: hidden; }
 
}



/*  */
@media only screen and (max-width: 608px) {
  .title{
    left: 60px;
  }
  .title2{
    top: -90px;
    left: 15px;
  }
  .secondary{
    z-index: 1;
  }
}

@media only screen and (max-width: 598px) {
  .title{
    left: -80px;
  }
  .intro{
    top: 90px;
    left: -100px;
  }
  .secondary{
    top: 10px;
    z-index: 1;
  }
  .title2{
    left: 40%;
  }
}
@media only screen and (max-width: 598px) {
  .intro{
    left: -10px;
    top: 190px;

  }
  .intro-se{
    left: -10px;
    top: 190px;
  }
  .secondary{
    top: -50px;
    z-index: 1;
  }
}
@media only screen and (max-width: 582px) {
  .title2{
  visibility:visible;
  }
  .box{
    top: 10px;
  }
  .intro{
    left: -10px;

  }
  .intro-se{
    left: -10px;
    top: 80px;
  }
  .secondary{
    top: -170px;
    z-index: 1;
  }
  .social{
    left: -400px;
  }
  #meee{
    /* display: none */
    top: -320px;
    left: -45em;
  }
  .my-info{
    top: 80px;
    left: -150px;
  }
  .allstacks{
    left: 250px;
    top: 420px;
  }
  #home{
    height: 700px;
  }
  #about{
    height: 1100px;
  }
}
@media only screen and (max-width:479px) {
  #projects{
    height: 3500px;
  }

  .title2{
    visibility: visible;
  }
  .presentation{
    top: -560px;
  }
  .picturep{
    left: -70px;
  }
  .secondary{
    z-index: 1;
  }
}


@media only screen and (max-width:474px) {
  .secondary{
    top: -35px;
  }
  /*  */
  .presentation{
    top: -650px;
  }
  .picturep{
    left: -85px;
  }
  .secondary{
    z-index: 1;
  }
}
/* surface duo */
 @media only screen and (max-width:450px) {
   .profile-pic{
display: inline; 
left: 10px; 
 }
  #meee{
    left: -80%;
    top: -28%;
  }
  /* .my-info{
    width: 400px;
    font-size: 20px;
    left: -300px;
    top: -95px;

  } */
  .tags>a{
    font-size: 23px;
  }

  .p{
    font-size: 15px;
  }
  .intro{
    top: 15px;
    left: -50px;
  }
  .intro-se{
    top: 15px;
    left: -50px;
  }
  form{
    top: -10%;
    height: 70%;
  }
  #contact{
    height:600px
  }
  .social{
    top:30%;
    left: -350px;
    
  }
 #home{
   height: 700px;
 }
 #mee{
   top: 15%;
   /* left: 10px; */
 }
 .secondary{
   font-size: 25px;
   width: 150px;
   left: 10px;
   top: -190px;
   z-index: 1;
 }
 #about{
   height: 600px;
 }
 .my-info{
   top: 15px;
   font-size: 20px;
   left: -90px;
 }
 #about{
   height: 1050px;
 }
 .allstacks{
   left: 55%;
 }
 #projects{
   height:3500px
 }

.presentation{
  top: -18%;
}
.picturep{
  left: -80px;
}
#env{
  top: -250px;
}
} 
@media only screen and (max-width:416px) {
  .my-info{
    left: -110px;
  }
  .secondary{
    z-index: 1;
  }
}
/* galaxy fold */
 @media only screen and (max-width:414px) {

  .social{
    left: -85%;
    top: 40%;
  }
 
  .title2{
    left: 30%;
  }
  .intro-se{
    top: -170px;
  }
  
  #home{
    height: 700px;
  }
  #meee{
    left: -60%;
    top: -33%;
  }
  .my-info{
    font-size: 16px;
    left: -190%;
    width: 280%;
    font-size: 18px;
    top: -40px;
  }
  .intro{
    top: 10px;
    left: -50px;
  }
  .intro-se{
    top: 1px;
    left: -50px;

  }
  .secondary{
    font-size:30px ;
    cursor: pointer;
    width: 150px;
    left: -50px;
    z-index: 1;
  }
  .allstacks{
    top: 27%;
    left: 25%;
  }
  .p{
    font-size: 15px;
  }
  #about{
    height: 800px;
  }
 
  .presentation{
    top: -17%;
  }
  .picturep{
    left: -20%;
  }
  form{
    height: 65%;
    top: -3%;
  }
  
  .tags>a{
    font-size: 22px;
    
  }
  .tags{
    left: 10px;

  }
  #projects{
    height: 3200px;
  }
  
  
} 


/* pixel2 */
@media only screen and (max-width:411px) {
  .intro{
    top: -2%;
    left: -50px;
  }
  .intro-se{
    top: -2px;
    left: -50px;

  }
  .tags{
    left: 5%;
    font-size: 20px;
  }
  .my-info{
    width: 300%;
    height: 30%;
    left: -170%;
    top: 14px;
  }
  .p{
  font-size: 14px
  }
  .allstacks{
    top: 35%;
    left: 110px;
  
  }
  #about{
    height: 800px;
  }
  #meee{
    top: -27%;
    left: -55%;
    border-radius: 0;
  }
  #mee{
    left: -120px;
  }
  .title3{
    left: 35%;
  }
  .secondary{
    font-size: 26px;
    top: 80px;
    left: 60px;
    z-index: 1;
  }
  .picturep{
    left: -55px;
  }
  form{
    height: 65%;
  }
 
  #contact{
    height: 600px;
  }


.my-info{
  left: -210px;
}
  .presentation{
    top: -18%;
  }
  #projects{
    height: 3090px;
  }
}
@media only screen and (max-width:396px) {
  /*  */
  .box{
    top: -80px;
  }
  #projects{
    height: 3090px;
  }
  .tags>a{
    font-size: 22px;
  }
  #meee{
    width: 30%;
  }
  .my-info{
    left: -180%;
  }
  .secondary{
    top: 180px;
    z-index: 1;
  }
  #mee{
    top: 150px;
  }
  .intro{
    top:100px;
    left:-60px

  }
  .intro-se{
    top:100px;
    left:-50px

  }
  .presentation{
top: -500px;
  }


}
/* galaxy s5 */
@media only screen and (max-width:375px) {
 
  .presentation{
    top: -20%;
  }
  #meee{
    left: -68%;
  }
 
 

 .title{
   left: -14%;
 }
 .tags{
   left: -2%;
 }
 #meee{
   left: -60%;
 }
 
 .my-info{
   font-size: 18px;
   top: 25px;
   left: -220px;
 }
 .presentation{
   top: -17%;
 }
 
 .secondary{
   left: 30px;
   z-index: 1;
 }
 .box{
   top: -100px;
 }
 .allstacks{
   left: 90px;
 }

 .title3{
   top: -5px;
 }
 #projects{
   height:3090px;
 }
}
/* motog4 */
@media only screen and (max-width: 360px) {
 .box{
   top: -3%;
 }
 
.title{
left: -12%;
font-size: 30px;
top: 10;
}
.intro{
  top: -2%;
  left: -50px;
}
.intro-se{
  top: -2px;
  left: -50px;

}

.tags{
  left: 1%;
}
.my-info{
  width: 280%;
  height: 30%;
  left: -220%;
  top: 10%;
}
.p{
font-size: 14px
}
.allstacks{
  top: 35%;

}
#meee{
  top: -32%;
  left: -80%;
  border-radius: 0;
}
.secondary{
  z-index: 1;
}

}
@media only screen and (max-width:360px) {
  .title3{
    left: 33%;
  }
  
  #mee{
    top: 20px;
  }
 
  .title2{
    top: -45px;
  }
  
  
  .intro{
    left: -50px;

  }
  .intro-se{
    top: -2px;
  left: -50px;

  }
  #meee{
    top: -30%;
    left: -65%;
  }
  .my-info{
    top: -40px;
    left: -180%;
  }
  .allstacks{
    top: 25%;
    left: 27%;
  }
  #about{
    height: 900px;

  }
  #projects{
    height: 3000px;

  }
  .presentation{
    top: -20%;
  }
 .picturep{
   left: -25%;
 }
 #contact{
   height: 600px;
 }
 .tags>a{
   font-size: 20px;
 }
 .tags{
   top: 10px;
 }
 .secondary{
  top: 90px;
  font-size: 25px;
  height: 40px;
  left: 50px;
  z-index: 1;

}
 }

 @media only screen and (max-width:320px) {
 
   .tags>a{
     font-size: 17px;
   }
   .my-info{
     top: -10px;
     left: -170%;
   }
   .allstacks{
     top: 30%;

   }
   .p{
font-size: 10px;
   }
   #projects{
     height: 3000px;
   }
   .intro{
     left: -40px;
   }
   .intro-se{
     top: 10px;
   }
   #mee{
     top: 10px;
     left:-100px
   }
   .secondary{
     top: 40px;
     z-index: 1;
   }
   .btn{
top: -5px;
   }

 }
 @media only screen and (max-width:280px) {
.intro{
  top:50px;
  left: 10px;
  
}
.intro-se{
  top:50px;
  left: 10px;
}
#meee{
  left:-190px
}
#mee{
  top: 10%;
  width: 400px;
  left: -70px;
}
.my-info{
  font-size: 15px;
  top: -26px;
  left: -175px;
}
.allstacks{
  left: 70px;
}
.social{
  left: -220px;
}
.secondary{
  top: 110px;
  left: 60px;
}
.tags>a{
  font-size: 14px;

}
.secondary{
  z-index: 1;
} }
 /* @media only screen and (max-width: 168px) {
   #projects{
     height: 400vh;
   }
   #home{
     height: 120vh;
   }
   #about{
     height: 120vh;
   }
 } */