@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
#dots{
  position: relative;
  left: 15px;
}
#code{
  position: relative;
  width: 40%;
  left: 50%;
}
.left{
  position: relative;
  left:20%
}
html{
  scroll-behavior: smooth;
}
body {
  color: white;
  /* background: linear-gradient(141deg, white 0%, grey 51%, rgb(46, 45, 45) 75%); */
  background: #358597;
  
 
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/60-lines.png"); */


}
a{
  color: white;
}
a:hover{
  color:#1d4e58
}
#home{
  /* background-color: #D2BAB6; */
  color: white;
  width: 100%;



  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}
.p{
  /* border: solid #DCDCDC; */
  border-radius: 50px;
  background: #2e7585;
  text-align: center;
  width: 145%;
  margin: 2.5px;

}
.ul{
  display: grid;
  grid-template-columns: auto auto auto ;
  position: relative;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: normal; */
  font-size: 16px;
  grid-column-gap: 55px;
  grid-row-gap: 7px;



}





.section {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 100%;
  /* z-index: -1; */
  overflow: hidden;
}

#me{
  position: relative;
  /* width: 65%; */
  max-width: 100vh;
  height: auto;
  left: 15vw;
  top: 15.4vh;
  /* filter: blur(.4px); */

}
@import url('https://fonts.googleapis.com/css?family=Bilbo');
.title,.intro{
  position: relative;
  /* z-index: 9; */
  left:-3%;
  top:-4em;
  /* max-width: 50%; */
  font-size: 5vw;
  /* font-family: 'Gruppo';font-size: 50px; */
  font-family: 'Bilbo';
  font-weight: 600;

}
#code{
  color: #2e7585;
}
.intro{
  position: relative;
  /* z-index: 9; */
  left:-3%;
  top:3em;
}
.about-content{
  position: relative;
  max-width: 50vh;
  left:65%;
  top: -15%;
  font-size: 1.5vw;

}

.skills{
  max-width: 90%;
  max-height: 20%;
  /* padding: 10px; */


}

#projects{
    /* overflow: scroll; */
  /* height: 150vh;
  width: 100%; */
  
  width: 100%;
  height: 2000px;
}
.presentation{
  position: relative;
  top: -5%;
}

.my-info:first-letter { 
  color: #ffffff;
  float: left;
  font-size: 70px;
  line-height: 60px;
  padding: 0 8px;
}



.pic,.thumbnail{
  background-color: transparent;
  border: transparent;
}

.col-lg-4:hover .middle {
  opacity: 1;
}
.text {
  background-color: black;
  color: white;
  font-size: 2vh;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn {
  border: 1px solid rgb(248, 243, 243);
  border-radius: 1vh;
  width: 8vh;
  height: auto;
  display: block;

  background: linear-gradient(to right, rgb(212, 209, 209) 50%, rgb(136, 134, 134) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.box1,.box2{
  position: relative;
  transition: left  1.2s ease-in;
  left: -0%;
}
.lis{
left: -150%;
}
.my-info{
  width: 90%;
  position: relative;
  top: -35px;
  left: 15%;
  z-index: 1;
  font-weight: 600;

  font-family: 'Gruppo';font-size: 20px;
  z-index: 999;

}
#medium{
  /* z-index: 999; */
  border: solid red;
}
#mee{
  position: relative;
  left:5% ;
  width: 75%;
  bottom: -4em;
}

.another{
  /* position: relative; */
  left: 110%;
  
}







.sidenav {
  height: 100%;
  width: 152px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #2e7585;
  overflow: hidden;
  padding-top: 195px;
}

.sidenav a {
  position: relative;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:26px;
  color: white;
  display: block;
  left: 9%;
  font-weight: 200; 

}

.sidenav a:hover {
  color: #1d4e58;

}

.open,.closebtn{
  visibility: hidden;
  
} 
.icon{
  position: relative;
  width: 3.5vh;
  /* height: auto; */
}
.home{
  top: -5vh;

}
/* #medium{
  position: relative;
  left: 50%;
  border: solid black;
} */
#git{
  cursor: pointer;

}
.contact{
  top:-4vh
}
.woman{
  width: 4.3vh;

  top:-5vh
}
.computer{
  width: 3.5vh;

  top:-4.5vh
}
.me{
  position: relative;
  bottom:15vh;
  left: 13%;
  max-width: 10vw;
  height: auto;
  border-radius: 50%;

}
.box-nav{
  position: relative;
  bottom: 6%;
    left: 15%;

}
.secondary{
  border: 1px solid rgb(248, 243, 243);
  border-radius: 10px;
  border-bottom: solid rgba(255, 255, 255, 0.575);
  width: 105px;
  height: auto;
  display: block;
  padding: 0.2%;
  background:#3a93a7;
  background-position: right bottom;
  font-family: 'Gruppo';
  font-size: 26px;
  position: relative;
  left: 2%;
  top: -159px;
  
  z-index: 999;
 cursor: pointer; ;
 outline:none;

}
.secondary:hover{
  /* background: white; */
  backGRound-color: white;
  color: black;
}

.secondary:focus{
  border: none;

}
.box{
  position: relative;
  left:18%;
  width: 200%;
  top: 2%;


}
.social{
  position: relative;
  top: 1vh;
  display: grid;
  grid-template-columns: auto ;
  width: 3.5vh;
  left: -55%;
  grid-row-gap: 40px;


  
  

}
.job{
  position: relative;
  border:  solid transparent;
  background-color: #358597;
  border-radius: 15px;
  max-width: 65%;
  height: auto;
  padding: 1.5%;
  color: rgb(255, 255, 255);
  top: -2em;
  left: -1%;
  font-size: 1.1vw;

}
.con{
  color: blue;
}

.d-block {
  position: relative;
  max-width:85%;
  max-height:85%;
  /* bottom: 30vh; */

}



.name-p{
  position: relative;
  left: 60%;
  bottom: -15vh;

}
.description{
  position: relative;
  left: 60%;
  width:40%;
  bottom: -12vh;
}
.tech{
  position: relative;
  left: 60%;
  /* width:40%; */
  bottom: -29vh; 
}


.tools{
position: relative;
left: 60%;
bottom:-40vh;

}


form{
  background-color: rgba(185, 184, 184, 0.877);
  background: #F9F9F9;
  background: #C8CACA;
  background: -webkit-linear-gradient(top left, #C8CACA, #535453);
  background: -moz-linear-gradient(top left, #C8CACA, #535453);
  background: linear-gradient(to bottom right, #C8CACA, #535453);
  background: rgba(255, 255, 255, 0.952);
  width: 55%;
  height: 550px;
  padding: 10%;
  border-radius: 10px;
  box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.356);
  color: #8c36dd;
  position: relative;
  left: 5%;
}
/* envelope */
.envWrapper{
position:absolute;
left: 1%;
}

.mail{
  width: 200px;
  height: 100px;
  background: #ff8789;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;

}

.mail:before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid  rgb(184, 139, 184);
  border-top: 0px solid transparent;
  border-bottom: 0px solid  rgb(184, 139, 184);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius: 10px;
  z-index: -1;
}

.mail:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid rgb(184, 139, 184);
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid  rgb(184, 139, 184);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px ;
  z-index: 4;
}
.cover:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid  rgb(184, 139, 184);
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform:rotateX(0deg);
  /* transition: all 1s 1s ease; */
}

.letter{
  position: absolute;
  z-index:3;
  top: 0;
  left:10px;
  background: #dedede;
  width: 280px;
  height: 180px;
  border-radius: 20px;
  transition: all 1s ease;

}
.letter h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color:#798992;
}
.mail:hover .cover::before{
  transform: rotateX(180deg);
  transition:all 1s ease;
}
.mail:hover .letter{
  top:-80px;
  transition:all 1s 1s ease
}
.title3{
  position: relative;
  left: 75%;
 top: -10%;
  color: #358597;
  margin-bottom: -15px;
}
.form-control{
  position: relative;
  left: 50%;
  
  width: 70%;
  height: 50px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.11);
}
.form-control:focus{
background-color: rgba(165, 163, 163, 0.185);
}
.form-control.message{
  height:150px ;
  resize: none;
}
.btn{
  color: white;
  background: #358597;
  width: 30%;
  height: 35px;
  position: relative;
  left: 70%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
.carousel-control-next,.carousel-control-prev{
  background-color: rgba(24, 23, 23, 0.233);
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.info-box{
  /* background-color: rgba(185, 184, 184, 0.877); */
  
  /* display: grid;
position: relative;  */
  /* border-radius: 10px; */
/* position: absolute; */
  box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.753);
  left: 109%;
  top: 20%;
border-radius: 20px;
position: absolute;
width: 150%;

}
#meee{
  position: relative;
  right:60% ;
  width: 18%;
  /* position: relative; */
  top: 3%;
  z-index: -999;
  border-radius: 60px;
}
#descrip{
  position: relative;
  left: 40%;
  top: -34%;
  width: 150%;
  font-family: 'Gruppo';
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline overline wavy #286977;
  margin: 10px;
  

}

#arms{
  transform: rotate(-10deg);
  transform-origin: center;
  transform-box: fill-box;
  animation: wave 1.5s  infinite linear;
}
#env{
  position: absolute;
  width: 49%;
  top: -30%;
  left: 1%;
}

@keyframes hi{
  /* 0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  } */

}
@keyframes wave{
  0%{
    transform:rotate(-20)
  }
  20%{
    transform:rotate(-10)
  }
  40%{
    transform:rotate(-5)
  }
  60%{
    transform:rotate(0)

  }
  80%{
    transform:rotate(-5)

  }
  100%{
    transform:rotate(-10)

  }
}
/* Thought bubbles */



.allstacks{
  position: relative;
  left: 30%;
  font-size: 15px;
  z-index: 999;
  font-family: 'Gruppo';font-size: 20px;
font-weight: 600;
top:30%;
}
.title2{
  position: relative;
  top: -45%;
  left: 50%;
  font-family: 'Gruppo';font-size: 5vh;
  font-weight: 500;
  text-decoration: underline;
  text-decoration: underline overline wavy #286977;



}
.allstacks ul li{
  margin-right: 40px;

}
.allstacks h1{
  position: relative;
  text-decoration: underline;
  font-weight: 600;
left: 35%;
top: -30px;

}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}
.card{
background-color: transparent;
/* box-shadow: 10px 12px 21px -6px rgba(0,0,0,0.75); */
border: transparent;
border-radius: 10px;
width: 44%;
top: 30%;
}
.body{
  position: relative;
  left: 109%;
  width:80% ;
  font-family: 'Gruppo';
  font-size: 15px;
  top: -78%;
  background-color: rgba(180, 175, 175, 0.274);
  border-radius: 10px;
  margin-bottom: -240px;
  

}
.external-l{
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: auto auto  auto;
  margin-top: 5px;
}
.white{
  border: solid #2e7585;
  width: 80%;
  height: 80%;
}
.desk{
  position: relative;
  width: 75%;
  height: 71%;
  /* height: 100vh; */
  left: 25.1%;
  bottom: 1%;
}
.picturep{
  border-radius: 2%;
}
.column{
  position: relative;
  left: 15%;
  display: grid;
  grid-template-columns: auto   ;
  width: 100%;
  top: -10em;
  row-gap: 5%;
  
}

.list{
  background-color: transparent;
  border: transparent;
  
  }
.tags{
  display: none;
  /* color: #358597; */
}
.phone-me{
display: none;}

.arrow{
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  position: relative;
  top: -160px;
left: 550px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
animation: down 2s linear infinite;
}
@keyframes down{
  0%{
    top: -130px;

  }
  100%{
    top: -90px;

  }
}
.e-l{
  width: 0;
}
/* phoneeeeeeeeeeeeeeeeeeeeeee */




@media only screen and (max-width: 976px) {
  .title{
    left: 25px;

  }
  .secondary{
    position: relative;
    left: 38%;
    top: -1px;
  }
  .arrow{
    left: 43%;
    animation: down 2s linear infinite;

  }
  @media only screen and (max-width: 976px) {
    .title{
      left: 25px;
  
    }
    .secondary{
      position: relative;
      left: 38%;
      top: -1px;
    }
    .arrow{
      left: 43%;
      animation: down 2s linear infinite;
  
    }
  }
  @keyframes down{
    0%{
      top: 42px;
  
    }
    100%{
      top: 70px;
  
    }
  }
}
@media only screen and (max-width: 600px) {
 
  /* #me{
    max-width: 100vh;
    height: auto;
    left: 15vw;
    top: 6.4vh;  } */
    .icon,.me{
      display: none;
    }
    
  
  
  .sidenav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 17px;
    top: -1em;
    left: -3%;

  }
  
  .sidenav a:hover {
    background: #ddd;
    color: black;
  }
  .job{
    display: none;
  }
  form{
width: 80%;
height: 50%;
  }
  #env{
    top: -70%;
  }
  .form-control{
    width: 63%;
    top: -2px;
    height: 60%;
  }
 .btn{
   
   left: 1%;
   top: -15%;
 }

.title3{
  left: 63%;
}
.column{
  position: relative;
  left: -24%;
  display: grid;
  grid-template-columns: auto   ;
  width: 200%;
  top: 0em;
  row-gap: 5%;
  /* overflow: scroll; */
  
}
#projects{
  margin: 0;
  height: 340vh;

  
}
.presentation{
  top: -48em;

}
.link{
  display: none;
  color: #1d4e58;
}

  #git{
    display: none;
  }

  .secondary{
    position: relative;
    top: 50px;
    left: 60px;
    width: 40%;
    height: 50px;
    z-index: -999;
  }
  .intro{
    position: relative;
    left: -8%;
    font-size: 35px;
    padding: 3%; 
    top: 10px;
 }
 #mee{
   width: 115%;
   left: -35%;
 }
 .intro-se{
   top: -230px;
   left: -5%;
   font-size: 35px;


 }
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    z-index: -999;
    display: none;
  
  }
  #meee{
    border: solid white;
  }
  .sidenav {
    /* overflow: hidden;
    background-color: #245a66;
    position: fixed;
    top: 0;
       width: 100%;
    height: 10px;
    z-index: 999; */
    display: none;
  }
  .nav{
    position: relative;
      overflow: hidden;
    background-color: #245a66;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 999;

  }
  .tags{
    position: relative;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    padding: 20px;
    left: 10%;
    font-family: 'Gruppo';
    font-weight: 600;
  }
 #descrip{
   visibility: hidden;
 }
  .my-info{
    left: -240%;
    top: -70px;
    /* width: 150px; */

    /* visibility: hidden; */
  }
  .para{
width: 160px; 
/* left: 55%;
top: -17%; */
z-index: -999;
 }
 #meee{
   top: -22%;
   width: 40%;
   left: -45%;

 }
 .allstacks{
   left: 17%;
   z-index: -999;
   top: 40%;
 }
 .social{
  display: grid;
  grid-template-columns: auto auto auto auto;
  top: 35%;
  column-gap: 15px;
  left: -65%;
 }
 .body{
  position: relative;
  left: 0%;
  width:100% ;
  font-family: 'Gruppo';
  font-size: 15px;
  top: 0%;
  background-color: rgba(180, 175, 175, 0.274);
  border-radius: 10px;
  margin-bottom: none;
  

}
.card{
  background-color: transparent;
  /* box-shadow: 10px 12px 21px -6px rgba(0,0,0,0.75); */
  border: transparent;
  border-radius: 10px;
  width: 44%;
  top: 10%;
  left: 4%;
  }
  .column{
    position: relative;
    left: 0%;
    display: grid;
    grid-template-columns: auto   ;
    width: 200%;
    top: 0em;
    row-gap: 20%;
    
  }
  .title2{
    left: 35%;
  }
}
@media only screen and (max-width: 608px) {
  .title{
    left: 60px;
  }
}
@media only screen and (max-width: 668px) {
  .title{
    left: 65px;
  }
}
@media only screen and (max-width: 598px) {
  .title{
    left: -80px;
  }
  .intro{
    top: 90px;
    left: -100px;
  }
  .secondary{
    top: 10px;
  }
}
/* motog4 */
@media only screen and (max-width: 360px) {
 .box{
   top: -3%;
 }
 #projects{
   height: 375vh;
 }
.title{
left: -12%;
font-size: 30px;
top: 10;
}
.intro{
  top: -2%;
  left: -50px;
}
.intro-se{
  top: -210px;
}
.secondary{
  top: -20%;
  font-size: 25px;
  height: 40px;
  left: 30px;

}
.tags{
  left: 1%;
}
.my-info{
  width: 280%;
  height: 30%;
  left: -220%;
  top: 10%;
}
.p{
font-size: 14px
}
.allstacks{
  top: 35%;

}
#meee{
  top: -32%;
  left: -80%;
  border-radius: 0;
}

}
/* galaxy s5 */
@media only screen and (max-width:360px) {
 .title3{
   left: 33%;
 }
 form{
   height: 40%;
   top: -10%;

 }
 #env{
   top: -90%;
 }
 .btn{
   top: -30%;
 }
 .social{
   top: 15%;
   left: -70%;
 }
}
/* pixel2 */
@media only screen and (max-width:411px) {
  .intro{
    top: -2%;
    left: -80px;
  }
  .intro-se{
    top: -230px;
    left: -70px;

  }
  .tags{
    left: 1%;
  }
  .my-info{
    width: 280%;
    height: 30%;
    left: -210%;
    top: 20px;
  }
  .p{
  font-size: 14px
  }
  .allstacks{
    top: 35%;
  
  }
  #meee{
    top: -32%;
    left: -70%;
    border-radius: 0;
  }
  .title3{
    left: 35%;
  }
}
@media only screen and (max-width:1008px) {
  .arrow{
display: none;  }

}
/* iohone 6 */

/* iphone 5 */
@media only screen and (max-width:1008px) {
  
  
#projects{
  height: 385vh;
}
.presentation{
  top: -17%;
}
.intro{
  top: -35px;
  left: -60px;
}
.intro-se{
  top: -230px;
  left: -50px;

}
#mee{
  top: -20px;
}
.secondary{
  top: -40px;
}
.tags{
  left: 1%;
}
.my-info{
  width: 290%;
  height: 30%;
  left: -220%;
  top: 20px;
  font-size: 17px;
}
.p{
font-size: 11px
}
.allstacks{
  top: 35%;

}
#meee{
  top: -32%;
  left: -80%;
  border-radius: 0;
}
#projects{
  height: 440vh;
}
.presentation{
  top: -20%;
}
.tags{
  font-size: 17px;
}

}

@media only screen and (max-width:375px) {
  #projects{
    height: 362vh;
    
  }
  .presentation{
    top: -20%;
  }
  #meee{
    left: -68%;
  }
 form{
   height: 40%;
 }
 #env{
   top: -280px;
 }
 .btn{
  top: -80px;

 }
 .social{
   top: 25%;
   left: -70%;
 }
}
@media only screen and (max-width:414px) {
  #meee{
    left: -65%;
  }
  #projects{
    height: 362vh;
    
  }
  .intro{
    top: 10%;
  }
  .tags{
    font-size: 20px;
    left: 9%;
  }
}