@import url('https://fonts.googleapis.com/css?family=Gruppo');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
.App{

}
body {
  color: black;
  background-color: #D2BAB6;

}
#home{
  background-color: #D2BAB6;
  color: white;
  width: 100%;
  font-family: 'Gruppo';font-size: 50px;



  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.section {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* z-index: -1; */
  overflow: hidden;
}

#me{
  position: relative;
  /* width: 65%; */
  max-width: 100vh;
  height: auto;
  left: 15vw;
  top: 15.4vh;
  /* filter: blur(.4px); */

}
.title{
  position: relative;
  /* z-index: 9; */
  left:5%;
  top:20%;
  /* max-width: 50%; */
  font-size: 5vw;

}
.about-content{
  position: relative;
  max-width: 50vh;
  left:65%;
  top: -15%;
  font-size: 1.5vw;

}

.skills{
  max-width: 90%;
  max-height: 20%;
  /* padding: 10px; */


}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.row{
  position: relative;
  /* overflow-y: scroll; */
  /* height: 150vh;
  width: 100%; */
  left: 20%;
}
#projects{
    overflow: scroll;
  /* height: 150vh;
  width: 100%; */
}
.thumbnail{
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.col-lg-4:hover .pic {
  opacity: 0.3;
}

.col-lg-4:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */
/* .ls{
  font-family: 'Gruppo';
  font-size: 2vw;

}
.rails{
  max-width: 8vw;
  max-height: 17vh;
} */
/* .ruby{
  position: relative;
  top: 4vh;
}
.postgres{
  position: relative;
  top: 3vh; 
 }
.react{
  max-width: 15vw;
  max-height: 17vh;
}
.html{
  position: relative;
  max-width: 17vw;
  max-height: 17.5vh;
  left:   2vh;

}  */
/* .label{
  padding: 0;
  position: relative;
  left: 14vh;
  top: -17vh;
    display: inline-block;

} */
/* .tech{
  position: relative;
  top: 30vh;
  left: -6vh;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
  max-height: 50vh;
  max-width: 90vw;
  overflow: scroll;
  

} */
#about{
  background-color:white;
  

}
#contact{
  background-color:rgb(167, 164, 164)
}
#projects{
  background-color:rgb(139, 137, 137)
}
.sidenav {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #735972;
  overflow: hidden;
  padding-top: 11vw;
}

.sidenav a {
  position: relative;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: white;
  display: block;
  left: 9%;
  font-weight: 200; 

}

.sidenav a:hover {
  color: #818181;;
}

.open,.closebtn{
  visibility: hidden;
  
} 
.icon{
  position: relative;
  width: 3.5vh;
  /* height: auto; */
}
.home{
  top: -5vh;

}
.contact{
  top:-4vh
}
.woman{
  width: 4.3vh;

  top:-5vh
}
.computer{
  width: 3.5vh;

  top:-4.5vh
}
.me{
  position: relative;
  bottom:15vh;
  left: 13%;
  max-width: 10vw;
  height: auto;
  border-radius: 50%;

}
.box-nav{
  position: relative;
  bottom: 6%;
    left: 15%;

}
.social{
  position: relative;
  top: 1vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* padding: 10px; */
  /* left: -3vh; */
  width: 3.5vh;

  
  

}
.job{
  position: relative;
  border:  solid transparent;
  background-color: rgba(17, 17, 17, 0.329);
  border-radius: 15px;
  max-width: 55%;
  height: auto;
  padding: 1.5%;
  color: white;
  top: -2em;
  left: -1%;
  font-size: 1vw;

}
/* .social:hover{
  position: relative;
  width: 5vh;

} */
/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 600px) {
 
  /* #me{
    max-width: 100vh;
    height: auto;
    left: 15vw;
    top: 6.4vh;  } */
    .icon,.me{
      display: none;
    }
  .sidenav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .sidenav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 17px;
    top: 3em;
  }
  
  .sidenav a:hover {
    background: #ddd;
    color: black;
  }
}